# TODO: port this to pyproject.toml when supported: https://gitlab.com/pycqa/flake8/merge_requests/245

[flake8]
select = B,C,E,F,G,W,B001,B003,B006,B007,B301,B305,B306,B902
# Ignore reasons:
# - G200: logging exception is ok, we don't always want to log the stack trace too
ignore = E203,E722,E741,W503,G200
exclude = .eggs,.tox,build,compat.py,__init__.py,datadog_checks_dev/datadog_checks/dev/tooling/templates/*,*/datadog_checks/*/vendor/*
max-line-length = 120
enable-extensions=G
