*.swp
*.pyc
py/hs/
hs/
*.bak
.idea/
cracked.json
MANIFEST
dist/
build/
files.txt
*.wpc
tools/hcxdumptool/
tools/hcxtools/
tools/iw/
tools/reaver/
tools/bully/
*.cmd
*.ko
*.mod
*.mod.c
*.mod.o
modules.order
*.o
built-in.a
Module.symvers
*.pcap
*.cap
*.json
