Kconfig.kernel
Kconfig.versions
.kernel_config_md5
.config
.config.old
*~
*.o
*.d
.tmp_*
*.ko
*.cmd
*.tmp
*.ver
modules.order
backport-include/backport/autoconf.h
modules
kconf/mconf
kconf/conf
.tmp_versions
Module.symvers
*.mod.c
